#container{
  display:flex;
}

body{
  background-color: rgb(132, 110, 182);
  align-items: center;
}

img{
  border-radius: 50%;
  max-width: 20%;
  max-height: 20%;
}

    /* fecha */
#dateT {
    background-color: rgb(89, 0, 255);
     width: 100px;
     height: 100px;
     transition: width 0.3s;
    margin-bottom: 5px; ;
}
#dateT:hover {
    width: 300px;
  }

img.img-thumbnail {
    width: 40%;
    height: 40%;
  }

h1{
  color: aliceblue;
}

  /* MENU BIBLIOGRAFIA*/

#bibliogra {
  margin: 10pt 0 30pt 0;
  border-top: .25pt solid #666;
  content: "BIBLIOGRAIA DE HAWKEYE AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA";
}


