body{
  background-color: rgb(132, 110, 182);
}

#dateT {
    background-color: rgb(89, 0, 255);
     width: 100px;
     height: 100px;
     transition: width 0.5s;

}
#dateT:hover {
    width: 300px;
  }